# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
build
dist
pyhiveapi.egg-info

# due to using tox and pytest
.tox
.cache
test*
custom_tests/*

# virtual environment folder
.venv/
pyhiveapi/.DS_Store
.DS_Store
hive_configs.json
hive_configs2.json
