{
  "USER":"",
  "PASS":"",
  "DEVICE_ID":"",
  "HUB_ID":"",
  "INFLUX_URL":"http://***:8086",
  "BUCKET":"",
  "ORG":"l",
  "INFLUX_TOKEN":"",
  "SHELLY_URL":"",
  "SHELLY_TOKEN":"",
  "DEVICE_GROUP_KEY":"",
  "DEVICE_LOGIN_KEY":"",
  "DEVICE_PASSWORD":""
}
